[Desktop Entry]
Type=Application
Name=NotePad
GenericName=Text Editor
Comment=A native GTK4 clone of Microsoft Notepad
Exec=notepad %F
Icon=com.goshapps.Notepad
Terminal=false
Categories=GTK;Utility;TextEditor;
MimeType=text/plain;
Keywords=notepad;text;editor;plaintext;
StartupNotify=true
